html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: “Lucida Sans Unicode”, “Lucida Grande”, sans-serif;
}

.container {
  border: 20px solid #2b81ac;
  height:  100%;
  box-sizing: border-box;
  background-color: #3399cc;
  text-align: center;
}

.container .top-p,
.container .bottom-p {
  text-align: left;
}

.forecast,
.top-p,
.bottom-p {
  max-width: 700px;
  width: 100%;
  margin: 20px auto;
  display: inline-block;
}

ul:hover li {
  opacity: 0.5;
  outline: 3px white;
  outline-style: solid;
}

ul:hover li:hover {
  opacity: 1;
}

.top-p {
  margin-top: 50px;
}

.top-p p,
.bottom-p p {
  margin: 0;
  color: white;
  font-size: 30px;
}

.bottom-p p {
  font-size: 20px;
}

.box {
  font-size: 0;
  padding: 0;
  border: 2px solid white;
}

.box li {
  height: 100px;
  font-size: 25px;
  display: inline-block;
  box-sizing:border-box;
  border: 2px solid white;
  color: white;
}

li span {
  display: block;
  text-align: center;
  padding: 10px;
}

li span:last-child {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.65);
}

.lisbon {
  background-color: ;
  width: 50%;
}

.paris {
  background-color: #3cc;
  width: 25%;
}

.belgrad {
  background-color: #969;
  width: 25%;
}

.moscow {
  background-color: #c24747;
  width: 25%;
}

.telaviv {
  background-color: #e2674a;
  width: 25%;
}

.cair {
  background-color: #ffcc66;
  width: 25%;
}

.newyork {
  background-color: #9c9;
  width: 25%;
}

.newdelhi {
  background-color: #699;
  width: 25%;
}

.sanfrancisco {
  background-color: #c69;
  width: 50%;
}

.tokyo {
  background-color: #396;
  width: 25%;
}

.sydney {
  background-color: #669;
  width: 100%;
}
